{
    "extends": "airbnb-base",
    "parserOptions": {
        "ecmaVersion": 13
    },
    "rules": {
        "consistent-return": "off",
        "import/no-import-module-exports": "off",
        "no-unused-vars": "off",
        "import/no-extraneous-dependencies": "off",
        "no-console": "off",
        "implicit-arrow-linebreak":"off",
				"no-tabs": "off",
				"no-undef": "off",
				"global-require": "off",
				"no-mixed-requires": "off",
				"import/no-dynamic-require": "off",
				"max-len": ["error", { "code": 400, "tabWidth": 4 }],
				"no-async-promise-executor": "off",
				"no-restricted-syntax": "off",
				"prefer-promise-reject-errors": "off",
				"no-unreachable": "off",
				"no-return-await": "off",
				"no-new": "off"
    }
}
